# Import dependencies and cleaning data

In [1]:
!pip install -U imbalanced-learn

Requirement already up-to-date: imbalanced-learn in c:\users\kirst\appdata\local\continuum\anaconda3\lib\site-packages (0.7.0)
Requirement already satisfied, skipping upgrade: scikit-learn>=0.23 in c:\users\kirst\appdata\local\continuum\anaconda3\lib\site-packages (from imbalanced-learn) (0.23.1)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in c:\users\kirst\appdata\local\continuum\anaconda3\lib\site-packages (from imbalanced-learn) (0.13.2)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in c:\users\kirst\appdata\local\continuum\anaconda3\lib\site-packages (from imbalanced-learn) (1.16.5)
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in c:\users\kirst\appdata\local\continuum\anaconda3\lib\site-packages (from imbalanced-learn) (1.3.1)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in c:\users\kirst\appdata\local\continuum\anaconda3\lib\site-packages (from scikit-learn>=0.23->imbalanced-learn) (2.1.0)

In [2]:
import pandas as pd
import os
from sklearn import tree
from sklearn.model_selection import GridSearchCV

In [4]:
data = pd.read_csv('../data/germanHeaders.csv', header=None)
data

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,NaN,account_status,duration,credit_history,purpose,credit_amount,savings_account,unemployed,installment_rate,personal_status_sex,...,property,age,other_installment_plans,housing,credits,job,liable_for,telephone,foreign_worker,good/bad
1,0.0,A11,6,A34,A43,1169,A65,A75,4,A93,...,A121,67,A143,A152,2,A173,1,A192,A201,1
2,1.0,A12,48,A32,A43,5951,A61,A73,2,A92,...,A121,22,A143,A152,1,A173,1,A191,A201,2
3,2.0,A14,12,A34,A46,2096,A61,A74,2,A93,...,A121,49,A143,A152,1,A172,2,A191,A201,1
4,3.0,A11,42,A32,A42,7882,A61,A74,2,A93,...,A122,45,A143,A153,1,A173,2,A191,A201,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,995.0,A14,12,A32,A42,1736,A61,A74,3,A92,...,A121,31,A143,A152,1,A172,1,A191,A201,1
997,996.0,A11,30,A32,A41,3857,A61,A73,4,A91,...,A122,40,A143,A152,1,A174,1,A192,A201,1
998,997.0,A14,12,A32,A43,804,A61,A75,4,A93,...,A123,38,A143,A152,1,A173,1,A191,A201,1
999,998.0,A11,45,A32,A43,1845,A61,A73,4,A93,...,A124,23,A143,A153,1,A173,1,A192,A201,2
1000,999.0,A12,45,A34,A41,4576,A62,A71,3,A93,...,A123,27,A143,A152,1,A173,1,A191,A201,1

In [5]:
columns = data.iloc[0].tolist()

In [6]:
data.columns = columns

In [7]:
data = data.iloc[1:]

In [8]:
data = data.iloc[:,1:]

In [9]:
data.columns.tolist()

['account_status',
 'duration',
 'credit_history',
 'purpose',
 'credit_amount',
 'savings_account',
 'unemployed',
 'installment_rate',
 'personal_status_sex',
 'debtors/guarantors',
 'present_residence_since',
 'property',
 'age',
 'other_installment_plans',
 'housing',
 'credits',
 'job',
 'liable_for',
 'telephone',
 'foreign_worker',
 'good/bad']

In [10]:
data

,account_status,duration,credit_history,purpose,credit_amount,savings_account,unemployed,installment_rate,personal_status_sex,debtors/guarantors,...,property,age,other_installment_plans,housing,credits,job,liable_for,telephone,foreign_worker,good/bad
1,A11,6,A34,A43,1169,A65,A75,4,A93,A101,...,A121,67,A143,A152,2,A173,1,A192,A201,1
2,A12,48,A32,A43,5951,A61,A73,2,A92,A101,...,A121,22,A143,A152,1,A173,1,A191,A201,2
3,A14,12,A34,A46,2096,A61,A74,2,A93,A101,...,A121,49,A143,A152,1,A172,2,A191,A201,1
4,A11,42,A32,A42,7882,A61,A74,2,A93,A103,...,A122,45,A143,A153,1,A173,2,A191,A201,1
5,A11,24,A33,A40,4870,A61,A73,3,A93,A101,...,A124,53,A143,A153,2,A173,2,A191,A201,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,A14,12,A32,A42,1736,A61,A74,3,A92,A101,...,A121,31,A143,A152,1,A172,1,A191,A201,1
997,A11,30,A32,A41,3857,A61,A73,4,A91,A101,...,A122,40,A143,A152,1,A174,1,A192,A201,1
998,A14,12,A32,A43,804,A61,A75,4,A93,A101,...,A123,38,A143,A152,1,A173,1,A191,A201,1
999,A11,45,A32,A43,1845,A61,A73,4,A93,A101,...,A124,23,A143,A153,1,A173,1,A192,A201,2
1000,A12,45,A34,A41,4576,A62,A71,3,A93,A101,...,A123,27,A143,A152,1,A173,1,A191,A201,1

In [11]:
a_columns = ['account_status', 'credit_history', 'purpose', 'savings_account', 'unemployed',
     'personal_status_sex', 'debtors/guarantors', 'property', 'other_installment_plans', 'housing', 'job', 'telephone', 'foreign_worker']

In [12]:
data[a_columns] = data[a_columns].replace({'A':''}, regex=True)
data['good/bad'] = data['good/bad'].replace({'2':'0'}, regex=True)

In [13]:
data[a_columns] = data[a_columns].apply(pd.to_numeric) 
data

#drop foreign_worker, liable_for, debtor/guarantors, telephone

,account_status,duration,credit_history,purpose,credit_amount,savings_account,unemployed,installment_rate,personal_status_sex,debtors/guarantors,...,property,age,other_installment_plans,housing,credits,job,liable_for,telephone,foreign_worker,good/bad
1,11,6,34,43,1169,65,75,4,93,101,...,121,67,143,152,2,173,1,192,201,1
2,12,48,32,43,5951,61,73,2,92,101,...,121,22,143,152,1,173,1,191,201,0
3,14,12,34,46,2096,61,74,2,93,101,...,121,49,143,152,1,172,2,191,201,1
4,11,42,32,42,7882,61,74,2,93,103,...,122,45,143,153,1,173,2,191,201,1
5,11,24,33,40,4870,61,73,3,93,101,...,124,53,143,153,2,173,2,191,201,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,14,12,32,42,1736,61,74,3,92,101,...,121,31,143,152,1,172,1,191,201,1
997,11,30,32,41,3857,61,73,4,91,101,...,122,40,143,152,1,174,1,192,201,1
998,14,12,32,43,804,61,75,4,93,101,...,123,38,143,152,1,173,1,191,201,1
999,11,45,32,43,1845,61,73,4,93,101,...,124,23,143,153,1,173,1,192,201,0
1000,12,45,34,41,4576,62,71,3,93,101,...,123,27,143,152,1,173,1,191,201,1

In [14]:
#data.to_csv('cleandata_woutcome.csv')

# Assign variables and adjust sampling

In [15]:
X = data.drop("good/bad", axis=1)
y = data["good/bad"]
attribute_names = X.columns
#X.head()

In [16]:
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X, y)

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_resampled, y_resampled, random_state=1)

In [18]:
y_train.value_counts()

0    527
1    523
Name: good/bad, dtype: int64

# Decision Tree

In [19]:
dtc = tree.DecisionTreeClassifier(random_state=1)
dtc.fit(X_train, y_train)

#y_pred_class = dtc.predict(X_test)
dtc.score(X_test, y_test)

0.8228571428571428

In [20]:
# test different parameters
# try gini / entropy criteria

sample_split_range = list(range(1,10))
param_grid = dict(min_samples_split=sample_split_range)

grid = GridSearchCV(dtc, param_grid, verbose=3)
grid.fit(X_train, y_train)

Fitting 5 folds for each of 9 candidates, totalling 45 fits
[CV] min_samples_split=1 .............................................
[CV] ................... min_samples_split=1, score=nan, total=   0.0s
[CV] min_samples_split=1 .............................................
[CV] ................... min_samples_split=1, score=nan, total=   0.0s
[CV] min_samples_split=1 .............................................
[CV] ................... min_samples_split=1, score=nan, total=   0.0s
[CV] min_samples_split=1 .............................................
[CV] ................... min_samples_split=1, score=nan, total=   0.0s
[CV] min_samples_split=1 .............................................
[CV] ................... min_samples_split=1, score=nan, total=   0.0s
[CV] min_samples_split=2 .............................................
[CV] ................. min_samples_split=2, score=0.795, total=   0.0s
[CV] min_samples_split=2 .............................................
[CV] ................. min_samples_split=2, score=0.805, total=   0.0s
[CV] min_samples_split=2 .............................................
[CV] ................. min_samples_split=2, score=0.786, total=   0.0s
[CV] min_samples_split=2 .............................................
[CV] ................. min_samples_split=2, score=0.814, total=   0.0s
[CV] min_samples_split=2 .............................................
[CV] ................. min_samples_split=2, score=0.805, total=   0.0s
[CV] min_samples_split=3 .............................................
[CV] ................. min_samples_split=3, score=0.752, total=   0.0s
[CV] min_samples_split=3 .............................................
[CV] ................. min_samples_split=3, score=0.781, total=   0.0s
[CV] min_samples_split=3 .............................................
[CV] ................. min_samples_split=3, score=0.748, total=   0.0s
[CV] min_samples_split=3 .............................................
[CV] ................. min_samples_split=3, score=0.833, total=   0.0s
[CV] min_samples_split=3 .............................................
[CV] ................. min_samples_split=3, score=0.810, total=   0.0s
[CV] min_samples_split=4 .............................................
[CV] ................. min_samples_split=4, score=0.729, total=   0.0s
[CV] min_samples_split=4 .............................................
[CV] ................. min_samples_split=4, score=0.790, total=   0.0s
[CV] min_samples_split=4 .............................................
[CV] ................. min_samples_split=4, score=0.743, total=   0.0s
[CV] min_samples_split=4 .............................................
[CV] ................. min_samples_split=4, score=0.833, total=   0.0s
[CV] min_samples_split=4 .............................................

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
C:\Users\kirst\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:552: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "C:\Users\kirst\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 531, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\kirst\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 894, in fit
    X_idx_sorted=X_idx_sorted)
  File "C:\Users\kirst\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 231, in fit
    % self.min_samples_split)
ValueError: min_samples_split must be an integer greater than 1 or a float in (0.0, 1.0]; got the integer 1

  FitFailedWarning)
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
C:\Users\kirst\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:552: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "C:\Users\kirst\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 531, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\kirst\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 894, in fit
    X_idx_sorted=X_idx_sorted)
  File "C:\Users\kirst\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 231, in fit
    % self.min_samples_split)
ValueError: min_samples_split must be an integer greater than 1 or a float in (0.0, 1.0]; got the integer 1

  FitFailedWarning)
[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    0.0s remaining:    0.0s
C:\Users\kirst\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:552: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "C:\Users\kirst\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 531, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\kirst\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 894, in fit
    X_idx_sorted=X_idx_sorted)
  File "C:\Users\kirst\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 231, in fit
    % self.min_samples_split)
ValueError: min_samples_split must be an integer greater than 1 or a float in (0.0, 1.0]; got the integer 1

  FitFailedWarning)
C:\Users\kirst\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:552: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "C:\Users\kirst\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 531, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\kirst\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 894, in fit
    X_idx_sorted=X_idx_sorted)
  File "C:\Users\kirst\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 231, in fit
    % self.min_samples_split)
ValueError: min_samples_split must be an integer greater than 1 or a float in (0.0, 1.0]; got the integer 1

  FitFailedWarning)
C:\Users\kirst\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:552: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "C:\Users\kirst\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 531, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\kirst\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 894, in fit
    X_idx_sorted=X_idx_sorted)
  File "C:\Users\kirst\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 231, in fit
    % self.min_samples_split)
ValueError: min_samples_split must be an integer greater than 1 or a float in (0.0, 1.0]; got the integer 1

  FitFailedWarning)

[CV] ................. min_samples_split=4, score=0.795, total=   0.0s
[CV] min_samples_split=5 .............................................
[CV] ................. min_samples_split=5, score=0.724, total=   0.0s
[CV] min_samples_split=5 .............................................
[CV] ................. min_samples_split=5, score=0.776, total=   0.0s
[CV] min_samples_split=5 .............................................
[CV] ................. min_samples_split=5, score=0.757, total=   0.0s
[CV] min_samples_split=5 .............................................
[CV] ................. min_samples_split=5, score=0.795, total=   0.0s
[CV] min_samples_split=5 .............................................
[CV] ................. min_samples_split=5, score=0.786, total=   0.0s
[CV] min_samples_split=6 .............................................
[CV] ................. min_samples_split=6, score=0.748, total=   0.0s
[CV] min_samples_split=6 .............................................
[CV] ................. min_samples_split=6, score=0.776, total=   0.0s
[CV] min_samples_split=6 .............................................
[CV] ................. min_samples_split=6, score=0.762, total=   0.0s
[CV] min_samples_split=6 .............................................
[CV] ................. min_samples_split=6, score=0.776, total=   0.0s
[CV] min_samples_split=6 .............................................
[CV] ................. min_samples_split=6, score=0.776, total=   0.0s
[CV] min_samples_split=7 .............................................
[CV] ................. min_samples_split=7, score=0.705, total=   0.0s
[CV] min_samples_split=7 .............................................
[CV] ................. min_samples_split=7, score=0.738, total=   0.0s
[CV] min_samples_split=7 .............................................
[CV] ................. min_samples_split=7, score=0.743, total=   0.0s
[CV] min_samples_split=7 .............................................
[CV] ................. min_samples_split=7, score=0.786, total=   0.0s
[CV] min_samples_split=7 .............................................
[CV] ................. min_samples_split=7, score=0.795, total=   0.0s
[CV] min_samples_split=8 .............................................
[CV] ................. min_samples_split=8, score=0.695, total=   0.0s
[CV] min_samples_split=8 .............................................
[CV] ................. min_samples_split=8, score=0.757, total=   0.0s
[CV] min_samples_split=8 .............................................
[CV] ................. min_samples_split=8, score=0.738, total=   0.0s
[CV] min_samples_split=8 .............................................
[CV] ................. min_samples_split=8, score=0.771, total=   0.0s
[CV] min_samples_split=8 .............................................
[CV] ................. min_samples_split=8, score=0.743, total=   0.0s
[CV] min_samples_split=9 .............................................
[CV] ................. min_samples_split=9, score=0.714, total=   0.0s
[CV] min_samples_split=9 .............................................
[CV] ................. min_samples_split=9, score=0.748, total=   0.0s
[CV] min_samples_split=9 .............................................
[CV] ................. min_samples_split=9, score=0.733, total=   0.0s
[CV] min_samples_split=9 .............................................
[CV] ................. min_samples_split=9, score=0.748, total=   0.0s
[CV] min_samples_split=9 .............................................
[CV] ................. min_samples_split=9, score=0.743, total=   0.0s

[Parallel(n_jobs=1)]: Done  45 out of  45 | elapsed:    0.3s finished

GridSearchCV(estimator=DecisionTreeClassifier(random_state=1),
             param_grid={'min_samples_split': [1, 2, 3, 4, 5, 6, 7, 8, 9]},
             verbose=3)

In [21]:
print(grid.best_score_)
print(grid.best_params_)

0.800952380952381
{'min_samples_split': 2}

In [22]:
predictions = grid.predict(X_test)

In [23]:
from sklearn.metrics import classification_report
print (classification_report(y_test, predictions,
                            target_names=["bad","good"]))

              precision    recall  f1-score   support

         bad       0.77      0.91      0.84       173
        good       0.89      0.74      0.81       177

    accuracy                           0.82       350
   macro avg       0.83      0.82      0.82       350
weighted avg       0.83      0.82      0.82       350

# Random Forest

In [24]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=2000)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.8885714285714286

In [25]:
sorted(zip(rf.feature_importances_, attribute_names),reverse=True)

[(0.1487396178931286, 'account_status'),
 (0.12436571883249217, 'credit_amount'),
 (0.09838090828037409, 'age'),
 (0.08937019935360818, 'duration'),
 (0.06328721493128875, 'credit_history'),
 (0.05718856002022224, 'purpose'),
 (0.05536840079981428, 'savings_account'),
 (0.05241676153097556, 'unemployed'),
 (0.04414291954783729, 'property'),
 (0.04068037238183466, 'installment_rate'),
 (0.03805102511813848, 'present_residence_since'),
 (0.03100181670614975, 'job'),
 (0.030450166060977002, 'personal_status_sex'),
 (0.025124718540666998, 'other_installment_plans'),
 (0.023524438608467365, 'housing'),
 (0.022938754230104108, 'debtors/guarantors'),
 (0.020481448266924725, 'credits'),
 (0.0179876071890887, 'telephone'),
 (0.012234440223393837, 'liable_for'),
 (0.004264911484513317, 'foreign_worker')]